@font-face {
  font-family: "Shrikhand";
  src: url(../assets/fonts/Shrikhand-Regular.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto-Regular.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  outline: none;
  color: black;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Roboto";
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: white;
  overflow: hidden;
  animation: loader 2.5s forwards;
}
.loader__text {
  flex-direction: column;
  position: absolute;
  font-size: 2rem;
  text-align: center;
}
.loader__text--title {
  color: #9356dc;
}
.loader__text--title .letter-1 {
  color: #99e2d0;
  transition-delay: 0.1s;
  transition-duration: 0.1s;
  text-transform: uppercase;
  font-size: 2rem;
}
.loader__text--title .letter-2 {
  color: #99e2d0;
  transition-delay: 0.2s;
  transition-duration: 0.1s;
  text-transform: uppercase;
  font-size: 2rem;
}
.loader__text--title .letter-3 {
  color: #99e2d0;
  transition-delay: 0.3s;
  transition-duration: 0.1s;
  text-transform: uppercase;
  font-size: 2rem;
}
.loader__text--title .letter-4 {
  color: #99e2d0;
  transition-delay: 0.4s;
  transition-duration: 0.1s;
  text-transform: uppercase;
  font-size: 2rem;
}
.loader__text--title .letter-5 {
  color: #99e2d0;
  transition-delay: 0.5s;
  transition-duration: 0.1s;
  text-transform: uppercase;
  font-size: 2rem;
}
.loader__text--title .letter-6 {
  color: #99e2d0;
  transition-delay: 0.6s;
  transition-duration: 0.1s;
  text-transform: uppercase;
  font-size: 2rem;
}
.loader__text--title .letter-7 {
  color: #99e2d0;
  transition-delay: 0.7s;
  transition-duration: 0.1s;
  text-transform: uppercase;
  font-size: 2rem;
}
.loader__text--title .letter-8 {
  color: #99e2d0;
  transition-delay: 0.8s;
  transition-duration: 0.1s;
  text-transform: uppercase;
  font-size: 2rem;
}
.loader__text--title .letter-9 {
  color: #99e2d0;
  transition-delay: 0.9s;
  transition-duration: 0.1s;
  text-transform: uppercase;
  font-size: 2rem;
}
.loader__container {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  display: block;
  position: relative;
  border-top: 7px solid transparent;
  border-top-color: #9356dc;
  animation: spin 1.5s linear infinite;
}
.loader__container::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  border-left: 5px solid transparent;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-radius: 100%;
  border-color: #ff79da;
  animation: spin 1s linear infinite;
}
.loader__container::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border-left: 5px solid transparent;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-radius: 100%;
  border-color: #99e2d0;
  animation: spin-left 0.5s linear infinite;
}

@keyframes loader {
  0% {
    visibility: visible;
  }
  90% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.main {
  height: 100%;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
}
.banner__title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner__logo {
  width: 11rem;
}

.location {
  box-shadow: inset 0px 11px 8px -10px #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #f3f3f3;
}
.location__p {
  margin-left: 35px;
}

.explor {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2.5rem;
}
@media screen and (min-width: 992px) {
  .explor {
    height: 100%;
    justify-content: center;
    border-right: 3px solid #f3f3f3;
    border-bottom: 10px solid #f3f3f3;
  }
}
.explor__buttonContainer {
  padding: 1.5rem 0 0 0;
}
.explor__button {
  color: white;
  background-color: #ff79da;
  border-radius: 30px 30px;
  transition: background-color 200ms;
  border: none;
  cursor: pointer;
  background-image: linear-gradient(-10deg, #9356dc, #ff79da);
  padding: 1rem;
}
.explor__button:hover {
  box-shadow: 2px 5px 10px 0.5px #ccc;
  background-color: white;
}

.functionning {
  background-color: white;
  padding: 1.5rem;
  margin: 1rem 0 1rem 0;
}
@media screen and (min-width: 992px) {
  .functionning {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: #fafafa;
    margin: 0;
    border-left: 3px solid #f3f3f3;
    border-bottom: 10px solid #f3f3f3;
  }
}
.functionning__list {
  align-items: center;
  counter-reset: number;
}
@media screen and (min-width: 992px) {
  .functionning__list {
    width: 80%;
  }
}
.functionning__listCards {
  box-shadow: 0px 2px 11px -1px #ccc;
  background-color: #fafafa;
  margin: 1rem;
  padding: 1rem 1rem 1rem 0;
  border-radius: 15px;
  cursor: pointer;
  list-style-type: none;
  counter-increment: number;
}
.functionning__listCards:hover {
  background-color: #fff9fd;
}
.functionning__listCards:hover :nth-child(2n+1) {
  color: #9356dc;
}
.functionning__listCards:before {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  content: counter(number);
  background: #9356dc;
  color: white;
  position: absolute;
  margin: -0.2rem 2rem 0rem -0.7rem;
}
.functionning__listIcon {
  padding: 0 1rem 0 2rem;
}

.cards {
  background-color: #fafafa;
  height: 100%;
  padding: 3rem 1.5rem 2rem 1.5rem;
}
@media screen and (min-width: 768px) {
  .cards {
    width: 80%;
    border-radius: 2rem 2rem 0 0;
    margin: auto;
  }
}
@media screen and (min-width: 992px) {
  .cards {
    border-radius: 0 0 0 0;
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .cards__contain {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 3rem;
  }
}
.cards__container {
  box-shadow: 0px 2px 11px -1px #ccc;
  height: 100%;
  border-radius: 15px 15px;
  background: white;
  margin: 1.5rem 0 1.5rem 0;
}
.cards__picturesContainer {
  position: relative;
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 10rem;
  min-height: 67%;
  max-height: 67%;
}
.cards__pict {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  z-index: 0;
}
.cards__pict--alerte {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  width: 5rem;
  height: 2rem;
  background-color: #99e2d0;
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 4px 4px;
  font-size: 0.9rem;
  font-weight: bold;
  color: #299077;
  border-radius: 1.5px 1.5px;
  animation: light 1.5s ease-in infinite;
  transform: scale(1);
}

@keyframes light {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.cards__textArea {
  background: white;
  border-radius: 0 0 15px 15px;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.footer {
  padding: 1.5rem;
  color: white;
  background: #353535;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer {
    align-items: center;
  }
}
.footer__title {
  font-family: "Shrikhand";
  font-weight: lighter;
  padding: 0 0 1.5rem 0;
}
.footer__text {
  padding: 0 0 0.5rem 0;
}
.footer__link {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__logo {
  margin: 0 0.5rem 0 0;
}

.font {
  font-family: "Shrikhand";
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .nav {
    background-color: white;
  }
}
.nav__containerIcon {
  cursor: pointer;
}
.nav__icon {
  position: absolute;
  top: 30px;
  left: 30px;
}

.nav__logo {
  width: 11rem;
}

.menu__pict {
  width: 100%;
  max-width: 100%;
  max-height: 30rem;
  object-fit: cover;
}

.main {
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  padding: 1.5rem 1rem 2rem 1rem;
  background-color: #fafafa;
  z-index: 1;
  position: relative;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .main {
    width: 90%;
    margin: -4rem auto auto auto;
    border-radius: 2rem 2rem;
  }
}
.main__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem 2rem 0;
  font-family: "Shrikhand";
  font-weight: 100;
}
@media screen and (min-width: 1600px) {
  .main__container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 3rem;
  }
}

.heartBase {
  font-size: 1.5rem;
  padding: 0.2em;
  transition: transform 200ms;
  transform: scale(1);
}
.heartBase:hover {
  background-image: linear-gradient(-10deg, #9356dc, #ff79da);
  font-size: 1.5rem;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-color: #fafafa;
  font-size: 1.5rem;
  font-weight: bold;
  transition: color 3s ease-in-out -2s;
  transform: scale(1.1);
  cursor: pointer;
}

.food {
  margin-bottom: 2.5rem;
  font-family: "Roboto";
}
@media screen and (min-width: 992px) {
  .food {
    width: 100%;
  }
}
.food__title {
  text-transform: uppercase;
}
.food__line {
  border-bottom: 3.5px solid #99e2d0;
  padding-bottom: 2px;
}

.meals {
  height: 100%;
  width: 100%;
}
.meals__container {
  box-shadow: 0px 2px 11px -1px #ccc;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 15px;
  padding: 0.5rem;
  margin: 1rem 0 1rem 0;
  animation: transform 1.5s ease-out forwards;
  transform: scale(0);
  width: 100%;
  cursor: pointer;
  overflow: hidden;
}
.meals__container--two {
  animation-delay: 0.2s;
}
.meals__container--tree {
  animation-delay: 0.3s;
}
.meals__container--for {
  animation-delay: 0.4s;
}
.meals__container--six {
  animation-delay: 0.2s;
}
.meals__container--seven {
  animation-delay: 0.3s;
}
.meals__container--nine {
  animation-delay: 0.2s;
}
.meals__container--ten {
  animation-delay: 0.3s;
}
.meals__container:hover {
  background-color: #fff9fd;
  transform: scale(1) rotate(0deg);
}
.meals__container:hover span {
  transform: translateX(0);
  transform: rotate(0deg);
}
.meals__container:hover .blockAnim {
  transform: translateX(0%);
}
.meals__container:hover .meals__price {
  transform: translateX(0%);
}
.meals__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.2rem 0 0 0.2rem;
  overflow: hidden;
  width: 80%;
}
.meals__price {
  margin: 2rem 2rem 0rem 1rem;
  font-weight: bold;
  transition: transform 500ms ease-out 50ms;
  transform: translateX(100%);
  right: 50px;
  width: 20%;
}
.meals .elipse {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.one {
  animation: transform 2s ease-out forwards 1s;
}

.test {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.blockAnim {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  background-color: #99e2d0;
  margin-left: 0rem;
  border-radius: 0 15px 15px 0;
  width: 20%;
  transition: transform 0.5s ease-out 50ms;
  transform: translateX(100%);
}
.blockAnim span {
  transform: translateX(150%) rotate(180deg);
  transition: transform 0.5s ease-in 100ms;
}
.blockAnim__icon {
  color: white;
  font-size: 1.5rem;
}

@keyframes transform {
  0% {
    transform: scale(0) translateY(-10%);
  }
  100% {
    transform: scale(1) translateY(20%);
  }
}
.blockText {
  width: 80%;
  margin-right: 1rem;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-grow: 1;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0 2rem 0;
}
.button__command {
  background-image: linear-gradient(-10deg, #9356dc, #ff79da);
  color: white;
  background-color: #ff79da;
  border-radius: 30px 30px;
  transition: background-color 200ms;
  border: none;
  cursor: pointer;
  padding: 1rem 2.5rem;
}
.button__command:hover {
  box-shadow: 2px 5px 10px 0.5px #ccc;
  background-color: white;
}

@media screen and (min-width: 768px) {
  .responsive {
    background-color: #353535;
  }
}
@media screen and (min-width: 992px) {
  nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/*# sourceMappingURL=style.css.map */
