// ****************** fonts **************************
@font-face {
  font-family: "Shrikhand";
  src: url(../assets/fonts/Shrikhand-Regular.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto-Regular.ttf);
}

// ***************** variables ***********************
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$fortiary-color: #fafafa;
$font-logo-title: "Shrikhand";
$font-text: "Roboto";
$color-shadow: #ccc;
$shadow: 0px 2px 11px -1px $color-shadow;

//******************* mixins **************************
@mixin linearText {
  font-size: 1.5rem;
  background: -webkit-linear-gradient(-10deg, $primary-color, $secondary-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@mixin linearGradient {
  background-image: linear-gradient(-10deg, $primary-color, $secondary-color);
}
@mixin boxShadow($params) {
  box-shadow: $params;
}
@mixin flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin button {
  color: white;
  background-color: $secondary-color;
  border-radius: 30px 30px;
  transition: background-color 200ms;
  border: none;
  cursor: pointer;
}

// ***************** homepage *************************
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  outline: none;
  color: black;
}
body {
  font-family: $font-text;
}

.main {
  height: 100%;
}
.banner {
  @include flexbox();
  width: 100%;
  height: 20%;
  &__title {
    @include flexbox();
  }
  &__logo {
    width: 11rem;
  }
}
.location {
  @include flexbox();
  width: 100%;
  height: 50px;
  background-color: #f3f3f3;
  @include boxShadow(inset 0px 11px 8px -10px $color-shadow);
  &__p {
    margin-left: 35px;
  }
}
.explor {
  background-color: $fortiary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2.5rem;
  @media screen and(min-width: 992px) {
    height: 100%;
    justify-content: center;
  }
  &__buttonContainer {
    padding: 1.5rem 0 0 0;
  }
  &__button {
    padding: 1rem;
    @include button();
    @include linearGradient();
    &:hover {
      background-color: lighten($secondary-color, 60%);
      @include boxShadow(2px 5px 10px 0.5px $color-shadow);
    }
  }
}
.functionning {
  background-color: white;
  padding: 1.5rem;
  margin: 1rem 0 1rem 0;
  @media screen and(min-width:992px) {
    @include flexbox();
    flex-direction: column;
    background-color: $fortiary-color;
    height: 100%;
    width: 100%;
    margin: 0;
  }
  &__list {
    align-items: center;
    counter-reset: number;
  }
  &__listCards {
    background-color: $fortiary-color;
    margin: 1rem;
    padding: 1rem 1rem 1rem 0;
    border-radius: 15px;
    @include boxShadow($shadow);
    cursor: pointer;
    list-style-type: none;
    counter-increment: number;
    @media screen and (min-width: 992px) {
      width: 100%;
    }
    &:hover {
      background-color: rgba($primary-color, $alpha: 0.1);
      & :nth-child(2n + 1) {
        color: $primary-color;
      }
    }
    &:before {
      content: counter(number);
      background: $primary-color;
      border-radius: 100%;
      color: white;
      height: 1.5rem;
      width: 1.5rem;
      position: absolute;
      margin: -0.2rem 2rem 0rem -0.7rem;
      @include flexbox();
    }
  }
  &__listIcon {
    padding: 0 1rem 0 2rem;
  }
}
.cards {
  background-color: $fortiary-color;
  height: 100%;
  padding: 3rem 1.5rem 2rem 1.5rem;
  @media screen and(min-width: 768px) {
    width: 80%;
    border-radius: 2rem 2rem 0 0;
    margin: auto;
  }
  @media screen and(min-width: 992px) {
    border-radius: 0 0 0 0;
    width: 100%;
  }
  &__contain {
    @media screen and(min-width: 992px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 2rem;
      margin-bottom: 3rem;
    }
  }
  &__container {
    height: 100%;
    border-radius: 15px 15px;
    background: white;
    margin: 1.5rem 0 1.5rem 0;
    @include boxShadow($shadow);
  }
  &__picturesContainer {
    position: relative;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 10rem;
    min-height: 67%;
    max-height: 67%;
  }
  &__pict {
    position: absolute;
    border-radius: 15px 15px 0 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.cards__textArea {
  background: white;
  border-radius: 0 0 15px 15px;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.footer {
  padding: 1.5rem;
  color: white;
  background: #353535;
  display: flex;
  flex-direction: column;
  @media screen and(min-width: 992px) {
    align-items: center;
  }
  &__title {
    font-family: $font-logo-title;
    font-weight: lighter;
    padding: 0 0 1.5rem 0;
  }
  &__text {
    padding: 0 0 0.5rem 0;
  }
  &__link {
    text-decoration: none;
    color: white;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  &__logo {
    margin: 0 0.5rem 0 0;
  }
}

//**************** page des menus *******************************
.font {
  font: $font-logo-title;
}
.nav {
  @include flexbox();
  @media screen and(min-width: 768px) {
    background-color: white;
  }
  &__containerIcon {
    cursor: pointer;
  }
  &__icon {
    position: absolute;
    top: 30px;
    left: 30px;
  }
}
.nav__logo {
  width: 11rem;
}
.menu__pict {
  width: 100%;
  max-width: 100%;
  max-height: 35rem;
  object-fit: cover;
}
.main {
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  padding: 1.5rem 1rem 2rem 1rem;
  background-color: $fortiary-color;
  z-index: 1;
  position: relative;
  @media screen and(min-width: 768px) {
    width: 90%;
    margin: -4rem auto auto auto;
    border-radius: 2rem 2rem;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem 2rem 0;
    font-family: $font-logo-title;
    font-weight: 100;
  }
}
.heartBase {
  font-size: 1.5rem;
  padding: 0.2em;
  transition: transform 200ms;
  &:hover {
    @include linearText();
    background-color: $fortiary-color;
    padding: -0.2em;
    font-size: 1.5rem;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
    transform: scale(1.1);
    cursor: pointer;
  }
}
.food {
  margin-bottom: 2.5rem;
  font-family: $font-text;
  @media screen and(min-width: 992px) {
    @include flexbox();
    gap: 5rem;
    justify-content: space-between;
  }
  &__title {
    text-transform: uppercase;
  }
  &__line {
    border-bottom: 3.5px solid $tertiary-color;
    padding-bottom: 2px;
  }
}
.meals {
  height: 100%;
  width: 100%;
  @media screen and(min-width: 992px) {
    width: 75%;
    margin-right: 3rem;
  }
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border-radius: 15px;
    padding: 0.5rem;
    margin: 1rem 0 1rem 0;
    @include boxShadow($shadow);
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.2rem 0 0 0.2rem;
  }
  &__price {
    padding: 2rem 1rem 0 1rem;
    font-weight: bold;
  }
}
.blockText {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-grow: 1;
  // align-items: center;
}
.blockAnim {
  background: $tertiary-color;
  color: white;
  width: 0;
  overflow: hidden;
}
.button {
  @include flexbox();
  margin: 1.5rem 0 2rem 0;
  &__command {
    padding: 1rem 2.5rem;
    @include linearGradient();
    @include button();
    &:hover {
      background-color: lighten($secondary-color, 60%);
      @include boxShadow(2px 5px 10px 0.5px $color-shadow);
    }
  }
}
@media screen and(min-width: 768px) {
  .responsive {
    background-color: #353535;
  }
}
@media screen and(min-width: 992px) {
  article {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
