// ****************** fonts **************************
@font-face {
  font-family: "Shrikhand";
  src: url(../assets/fonts/Shrikhand-Regular.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto-Regular.ttf);
}

// ***************** variables ***********************
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$fortiary-color: #fafafa;
$shadow: #ccc;
$font-logo-title: "Shrikhand";
$font-text: "Roboto";

//******************* mixins **************************
@mixin linearText {
  font-size: 1.5rem;
  background: -webkit-linear-gradient(-10deg, $primary-color, $secondary-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@mixin linearGradient {
  background-image: linear-gradient(-10deg, $primary-color, $secondary-color);
}

// ***************** homepage *************************
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  outline: none;
  color: black;
}
body {
  font-family: $font-text;
}
.main {
  height: 100%;
}
.banner {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 20%;
  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__logo {
    width: 11rem;
  }
}
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #f3f3f3;
  box-shadow: inset 0px 11px 8px -10px $shadow;
  &__p {
    margin-left: 35px;
  }
}
.explor {
  background-color: $fortiary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2.5rem;
  &__buttonContainer {
    padding: 1.5rem 0 0 0;
  }
  &__button {
    color: white;
    background-color: $secondary-color;
    border-radius: 30px 30px;
    padding: 1rem;
    transition: background-color 200ms;
    border: none;
    @include linearGradient;
    cursor: pointer;
    &:hover {
      background-color: lighten($secondary-color, 60%);
      box-shadow: 2px 5px 10px 0.5px $shadow;
    }
  }
}
.functionning {
  background-color: white;
  padding: 1.5rem;
  margin: 1rem 0 1rem 0;
  &__list {
    align-items: center;
    counter-reset: number;
  }
  &__listCards {
    background-color: $fortiary-color;
    margin: 1rem;
    padding: 1rem 1rem 1rem 0;
    border-radius: 15px;
    box-shadow: 0px 2px 11px -1px $shadow;
    cursor: pointer;
    list-style-type: none;
    counter-increment: number;
    &:hover {
      background-color: rgba($primary-color, $alpha: 0.1);
    }
    &:before {
      content: counter(number);
      background: $primary-color;
      border-radius: 100%;
      color: white;
      height: 1.5rem;
      width: 1.5rem;
      display: flex;
      position: absolute;
      margin: -0.2rem 2rem 0rem -0.7rem;
      align-items: center;
      justify-content: center;
    }
  }
  &__listIcon {
    padding: 0 1rem 0 2rem;
  }
}
.cards {
  background-color: $fortiary-color;
  height: 100%;
  padding: 3rem 1.5rem 2rem 1.5rem;
  &__container {
    height: 100%;
    border-radius: 15px 15px;
    background: white;
    margin: 1.5rem 0 1.5rem 0;
    box-shadow: 0px 2px 11px -1px $shadow;
  }
  &__picturesContainer {
    position: relative;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 10rem;
    min-height: 67%;
    max-height: 67%;
  }
  &__pict {
    position: absolute;
    border-radius: 15px 15px 0 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.cards__textArea {
  background: white;
  border-radius: 0 0 15px 15px;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.footer {
  padding: 1.5rem;
  color: white;
  background: #353535;
  display: flex;
  flex-direction: column;
  &__title {
    font-family: $font-logo-title;
    font-weight: lighter;
    padding: 0 0 1.5rem 0;
  }
  &__text {
    padding: 0 0 0.5rem 0;
  }
  &__link {
    text-decoration: none;
    color: white;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  &__logo {
    margin: 0 0.5rem 0 0;
  }
}

//**************** page des menus *******************************
.font {
  font: $font-logo-title;
}
.nav {
  display: flex;
  justify-content: center;
  &__containerIcon {
    cursor: pointer;
  }
  &__icon {
    position: absolute;
    top: 30px;
    left: 30px;
  }
}
.nav__logo {
  width: 11rem;
}
.menu__pict {
  width: 100%;
  max-width: 100%;
  max-height: 35rem;
  object-fit: cover;
}
.main {
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  padding: 1.5rem 1rem 2rem 1rem;
  background-color: $fortiary-color;
  z-index: 1;
  position: relative;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem 2rem 0;
    font-family: $font-logo-title;
    font-weight: 100;
  }
}
.heartBase {
  font-size: 1.5rem;
  padding: 0.2em;
  transition: transform 200ms;
  &:hover {
    @include linearText;
    background-color: $fortiary-color;
    padding: -0.2em;
    font-size: 1.5rem;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
    transform: scale(1.1);
  }
}
.food {
  margin-bottom: 2.5rem;
  &__title {
    font-family: $font-text;
    text-transform: uppercase;
    text-decoration: underline 3.5px $tertiary-color;
  }
}
.meals {
  height: 100%;
  width: 100%;
  &__container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    padding: 0.5rem;
    margin: 1rem 0 1rem 0;
    box-shadow: 0px 2px 11px -1px $shadow;
  }
  &__text {
    display: flex;
    justify-content: space-between;
  }
}
.blockText {
  display: block;
  text-overflow: Ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-decoration: none;
}
.button {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0 2rem 0;
  &__command {
    color: white;
    font-size: 1.5rem;
    background-color: $secondary-color;
    border-radius: 30px 30px;
    padding: 1rem 2.5rem;
    transition: background-color 200ms;
    border: none;
    @include linearGradient;
    cursor: pointer;
    &:hover {
      background-color: lighten($secondary-color, 60%);
      box-shadow: 2px 5px 10px 0.5px $shadow;
    }
  }
}
