// ****************** fonts **************************
@font-face {
  font-family: "Shrikhand";
  src: url(./assets/fonts/Shrikhand-Regular.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(./assets/fonts/Roboto-Regular.ttf);
}

// ***************** variables ***********************
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$fortiary-color: #fafafa;
$shadow: #ccc;
$font-logo-title: "Shrikhand";
$font-text: "Roboto";

* {
  box-sizing: border-box;
}
h2 {
  font: $font-logo-title;
}
.banner {
  font-family: $font-text;
  display: flex;
  align-items: center;
  width: 100%;
  height: 20%;
  justify-content: center;
  &__title {
    text-align: center;
  }
  &__logo {
    width: 11rem;
  }
}
.link {
  cursor: pointer;
}
.menu__pict {
  width: 100%;
  max-width: 100%;
  max-height: 35rem;
  object-fit: cover;
}
.main {
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  padding: 1.5rem 1rem 2rem 1rem;
  background-color: $fortiary-color;
  z-index: 1;
  position: relative;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1.2rem;
    font-family: $font-logo-title;
    font-weight: 100;
  }
  &__heart {
    font-size: 2rem;
  }
}

.enter {
  font-family: $font-text;
  text-transform: uppercase;
  text-decoration: underline 3.5px $tertiary-color;
}
.button {
  display: flex;
  justify-content: center;
  padding: 1.5rem 0 2rem 0;
  &__command {
    color: white;
    font-size: 1.5rem;
    background-color: $secondary-color;
    border-radius: 30px 30px;
    padding: 1rem 2.5rem;
    transition: background-color 200ms;
    border: none;
    background-image: linear-gradient(-10deg, $primary-color, $secondary-color);
    cursor: pointer;
    &:hover {
      background-color: lighten($secondary-color, 60%);
      box-shadow: 2px 5px 10px 0.5px $shadow;
    }
  }
}
.footer {
  padding: 1.5rem;
  color: white;
  background: #353535;
  display: flex;
  flex-direction: column;
  &__title {
    font-family: $font-logo-title;
    font-weight: lighter;
    padding: 0 0 1.5rem 0;
  }
  &__text {
    font-family: $font-text;
    padding: 0 0 0.5rem 0;
  }
  &__link {
    text-decoration: none;
    color: white;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  &__logo {
    margin: 0 0.5rem 0 0;
  }
}
