.heartBase {
  font-size: 1.5rem;
  padding: 0.2em;
  transition: transform 200ms;
  transform: scale(1);
  &:hover {
    @include linearText();
    background-color: $fortiary-color;
    font-size: 1.5rem;
    font-weight: bold;
    transition: color 3s ease-in-out -2s;
    transform: scale(1.1);
    cursor: pointer;
  }
}
