$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$fortiary-color: #fafafa;
$font-logo-title: "Shrikhand";
$font-text: "Roboto";
$color-shadow: #ccc;
$shadow: 0px 2px 11px -1px $color-shadow;
